<!DOCTYPE html>
<html>
<head>
  <body>
<form action="/stats" method="post">
  <input type="text" name="old_url" placeholder="Enter the URL you wish to shorten">
  <input type="submit" value="Shorten">

</form>

  </body>

</head>


</html>